table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-size: 18px;
}
.create-btn{
  float: right;
  margin-right: 20px;
}
.totalCost{
  font-weight: bold;
  color: blueviolet;
}
th.mat-sort-header-sorted {
color: black;
}
tr.mat-footer-row{
  font-weight: bold;
}
.mat-table-sticky{
  border-top: 1px solid #e0e0e0;
}
tr:hover{
  background:  #f5f5f5;
}
tr:active{
  background: #efefef;
}
