table {
  width: 100%;
  overflow-x: auto;
  overflow-y: hidden;
  min-width: 500px;
}

th.mat-header-cell {
  text-align: left;
  max-width: 300px;
  font-size: 18px;
}
.create-btn{
  float: right;
  margin-right: 20px;
}
.totalCost{
  font-weight: bold;
  color: blueviolet;
}
