.container-custom{
  position: absolute;
  top:0;
  right: 0;
  left: 0;
  bottom: 0;
}
.container-custom .mat-drawer{
  padding: 20px;
  min-width: 200px;
}
.btn-right{
  flex: 1 1 auto;
  float: right;
}

.menulink{
  color: blueviolet;
  margin-top: 10px;
  margin-bottom: 10px;
}

.menulink:hover{
  color: rgb(175, 141, 208);
}
